* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

html {
    width: 80%;
    margin:10%;
}

body,main,section{
    width: 100%;
}

form{
    width: 60%;
    position: absolute;
    margin: 0px auto;
    left: 0px;
    right: 0px;
    padding: 3% 10%;
    background-color:lightblue;
    border-radius: 5px;
}


label{
    /* width: 50%; */
    display: inline-block;
    /* display: block; */
    /* background-color: sandybrown; */
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

}

.form-line{
    margin: 10px auto;
    width:100%
}

input{

    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    width: 100%;
}

i{
    /* padding: 0 10px; */
    display: inline;
    color: #777;
}

.input-icon-text{
    display: inline-block;
    background:#eee;
}

.input-group{
    display: inline-table;
    width: 60%;
}


.input-group > div {
    display: table-cell;
    background-color: lightgray;
}

.input-group-2{
    display: inline-table;
    width: 30%;
}

.input-group-2> div {
    display: table-cell;
    /* background-color: lightgray; */
}

.input-group-icon{
    background:#eee;
    color: #777;
    width: 5%;
    /* width: 2% */
  }

.input-group-width-for-label{
    width: 30%;
}

.input-group-area{
    background-color: lightgreen;
}

/* .input-label{
    display: table-cell;
    width: 60%;
    padding:0px;
} */



@media screen and (max-width:990px){
    .input-group-2{
        display: inline-table;
        width: 100%;
    }

    /* input{
        width:90%;
    } */
}

